body {
  background-color: #f9f9f9;
}

.pokemon-list {
  max-width: 500px;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

/* Close button */
.close-btn {
  font-size: 30px;
  color: #aaa;
  float: right;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}

/* Image styling */
#pokemonImage {
  max-width: 100%;  
  height: auto;   
  display: block; 
  margin: 10px auto; 
}
